form {
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    padding: 1em;
    
}


body {

    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

